#number-projects-nd {
    font-size: 60px;
}

#total-counts-nd {
    font-size: 60px;
}
#total-records-nd {
    font-size: 60px;
}
.dc-chart g.row text {
    fill: black;
    font-size: 16px;
}
#fips-row-chart {
    font-size: 30px;
}

#loan-type-row-chart text{
	fill: black;
	font-size: 16px;
}

#loan-type-row-chart svg{width: 360px;}